* { 
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body { 
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background:url('/images/vic.jpg') no-repeat;
    background-size: cover;
}
.wrapper{ 
   color:white;
   width:455px;
   padding: 10px;
   border-radius:10px;
   background: transparent;
   border:0.4px solid rgb(255, 0, 81);
   backdrop-filter:blur(20px);
   box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.wrapper h1{
    font-family: sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    padding: 8px;
}
 .wrapper .input-box{ 
    position: relative;
    width:100%;
    height: 50px;
    margin: 20px 0;
}
.input-box input{ 
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    outline:none;
    padding: 20px 40px 20px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
}
.input-box i{ 
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-8px);
    font-size: 15px;
    font-weight:bold;    
    }      
.input-box input::placeholder{ 
    color:#fff;
    font-size:11.5px;
}
.input-box input:focus{ 
    color:red;
}
.input-box input:hover{ 
    font-size:14.5px;
    transform: scale(1.01);
}
.wrapper .remember-me{ 
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    font-weight:400;
    font-size: 14px;
}
.remember-me label input{ 
    outline:none;
    margin: 3px;
}
.remember-me a{ 
    color: #fff;
    font-weight:400;
    text-decoration: none;
    margin:3px;
    font-size: 0.8rem;
}
.remember-me a:hover{ 
    text-decoration: underline;
    color:blue;
    opacity:30;
}
.wrapper .btn{ 
    width:100%;
    height: 45px;
    border:none;
    border-radius:5px;
    box-shadow: 10px 10px 10px rgba(255,255,255,.01);
    font-size: 24px;
    font-weight:600;
    color:#333;
    background: #fff;
    transition: 0.3s ease;
}
.wrapper .btn:hover{
    background: white;
    opacity: 50%;
}
.wrapper .register { 
    text-align:center;
    font-size:14.5px;
    margin:15px;
}
.wrapper .register p span{ 
    color:#fff;
    font-weight:bold;
    font-size: 16.5px;
    text-decoration:none;
    cursor:pointer;
}
p{ 
    text-align: center;
}